@font-face {
    font-family: 'Noto';
    src: url('../fonts/Noto_Serif_HK/NotoSerifHK-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

.app-wrapper {
    background-color: var(--bg);
    font-family: 'Montserrat';
    color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto';
}

h2 {
    font-size: var(--h2);
    line-height: var(--h2_lh);
}

h3 {
    font-size: var(--h3);
    line-height: var(--h3_lh);
}

h4 {
    font-size: var(--h4);
    line-height: var(--h4_lh);
}

h5 {
    font-size: var(--h5);
    line-height: var(--h5_lh);
}

h6 {
    font-size: var(--h6);
    line-height: var(--h6_lh);
}

section {
    padding-top: 150px;
}

.container {
    width: 100%;
    max-width: 1820px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: var(--text);
    transition: 0.5s;
}

a:hover {
    color: var(--accent);
}

.n-scrollbar > .n-scrollbar-rail.n-scrollbar-rail--vertical > .n-scrollbar-rail__scrollbar, .n-scrollbar + .n-scrollbar-rail.n-scrollbar-rail--vertical > .n-scrollbar-rail__scrollbar {
    z-index: 110;
}